body{ 
    padding:0; 
    margin:0;
    background-color: #F4F4F4;
} 


.button {
    background-color: #057494; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 50px;
    width:300px; 
    font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   color: #FFFFFF;
  
  } 

   li { 
       list-style: none;
   }